body {
	max-width: 90vw;
	margin: 0 auto;
	background: var(--primary-dark) ;
	color: var(--primary-light);
	font-family: var(--primary-font-family);
	font-weight: 400;
	font-style: normal;
}

.section {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

