.section__aside {
	display: flex;
	flex-direction: column;
	width: 25vw;
	height: 90vh;
	/*background: var(--secondary-dark);*/
	border-radius: var(--primary-border-radius);
}

.section__aside-title {
	font-size: var(--medium-text-size);
	color: var(--tertiary-light);
}

.section__aside-search {
	display: flex;
	position: relative;
}

.section__aside-search-input-text {
	width: 22vw;
	height: 2rem;
	margin: 2.8vw 0;
	border-radius: var(--primary-border-radius);
	color: var(--secondary-dark);
	padding-left: 0.5vw;
	font-size: var(--small-text-size);
}

.section__aside-search-submit-icon {
	position: absolute;
	right: 2vw;
	top: 50%;
	transform: translateY(-50%);
	width: 4vw;
	height: 2rem;
	background: url(../../assets/search_icon.svg) center / 1.5rem no-repeat;
	cursor: pointer;
	padding: 0.3rem;
}

.section__aside-dropdown-brand {
	margin-top: 2vw;
}

.section__aside-dropdown-brand,
.section__aside-dropdown-string-count,
.section__aside-dropdown-price {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 22vw;
	height: 2rem;
	margin-bottom: 0.3vw;
	font-size: var(--small-text-size);
}

.section__aside-dropdown-brand-items {
	display: none;
}

.section__aside-dropdown-brand-items--visible {
	display: block;
} 

.section__aside-dropdown-string-count-items {
	display: none;
}

.section__aside-dropdown-string-count-items--visible {
	display: block;
} 

.section__aside-dropdown-price-items {
	display: none;
}

.section__aside-dropdown-price-items--visible {
	display: block;
}

.section__aside-dropdown-brand h3,
.section__aside-dropdown-string-count h3,
.section__aside-dropdown-price h3 { 
	font-size: var(--small-text-size);
	color: var(--tertiary-light);
}

.section__aside-dropdown-brand img,
.section__aside-dropdown-string-count img,
.section__aside-dropdown-price img {
	width: 2rem;
	height: 2rem;
}

.section__aside-dropdown-brand--opened,
.section__aside-dropdown-string-count--opened,
.section__aside-dropdown-price--opened {
	transform: rotateX(180deg);
}

.section__aside-dropdown-brand-items-checkbox,
.section__aside-dropdown-string-count-items-checkbox,
.section__aside-dropdown-price-items-checkbox {
	display: flex;
	flex-direction: row;
	margin: 0 1vw 0.5vw 0;
}

.section__aside-dropdown-brand-items-checkbox input,
.section__aside-dropdown-string-items-count-checkbox input,
.section__aside-dropdown-price-items-checkbox input {
	height: 1rem;
	width: 1rem;
	margin-right: 1vw;
	cursor: pointer;
}

.section__aside-underline {
	display: block;
	width: 22vw;
	height: 0.08rem;
	opacity: 0.6;
	margin: 0.5vw 0;
	background: var(--tertiary-light);
	z-index: 100;
}

@media screen and (max-width: 900px) {
	
	.section__aside {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 95vw;
		height: 100%;
	}
	
	.section__aside-search {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
	}
	
	.section__aside-search-input-text {
		width: 50vw;
		height: 1.5rem;
		margin: 1rem 0;
		padding-left: 1.5vw;
		font-size: var(--extra-small-text-size);
	}
	
	.section__aside-search-submit-icon {
		right: 0;
		transform: translateY(-50%);
		width: 3rem;
		height: 1.5rem;
		background: url(../../assets/search_icon.svg) center / 1rem no-repeat;
		padding: 0.3rem;
	}
	
	.section__aside-dropdown-brand {
		margin-top: 1vw;
	}

	.section__aside-dropdown-brand-items,
	.section__aside-dropdown-string-count-items,
	.section__aside-dropdown-price-items {
		width: 50vw;
	}
	
	.section__aside-dropdown-brand,
	.section__aside-dropdown-string-count,
	.section__aside-dropdown-price {
		width: 50vw;
		height: 1.5rem;
		margin-bottom: 0.5vw;
		font-size: var(--extra-small-text-size);
	}

	.section__aside-dropdown-brand h3,
	.section__aside-dropdown-string-count h3,
	.section__aside-dropdown-price h3 { 
		font-size: var(--extra-small-text-size);
	}
	
	.section__aside-dropdown-brand img,
	.section__aside-dropdown-string-count img,
	.section__aside-dropdown-price img {
		width: 1.3rem;
		height: 1.3rem;
	}
	
	.section__aside-dropdown-brand-items-checkbox,
	.section__aside-dropdown-string-count-items-checkbox,
	.section__aside-dropdown-price-items-checkbox {
		display: flex;
		margin: 0 1vw 0.5vw 0;
		font-size: var(--extra-small-text-size);
	}
	
	.section__aside-dropdown-brand-items-checkbox input,
	.section__aside-dropdown-string-items-count-checkbox input,
	.section__aside-dropdown-price-items-checkbox input {
		margin-right: 2vw;
		height: 0.9rem;
		width: 0.8rem;
	}
	
	.section__aside-underline {
		width: 50vw;
		margin: 1vw 0;
	}

	@media screen and (max-width: 600px) {

		.section__aside-search-input-text {
			width: 95vw;
		}

		.section__aside-dropdown-brand,
		.section__aside-dropdown-string-count,
		.section__aside-dropdown-price {
			width: 95vw;
			height: 1.5rem;
			margin-bottom: 0.5vw;
		}

		.section__aside-dropdown-brand-items,
		.section__aside-dropdown-string-count-items,
		.section__aside-dropdown-price-items {
			width: 90vw;
		}

		.section__aside-underline {
			width: 95vw;
			margin: 1.5vw 0;
		}
	}	
}