.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	color: var(--primary-light);
	height: 5rem;
	border-bottom: 0.2rem solid var(--primary-light);
	margin-bottom: 2rem;
	white-space: nowrap;
}

.header a {
	display: flex;
	justify-content: center;
}

.header__navigation {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: var(--primary-light);
	gap: var(--gap);
	font-size: var(--medium-text-size);
}

.header a {
	color: var(--primary-light);
}